---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My astro site</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>Blog</h1>
    <p>
      <!-- Generate some text -->
      I am excited to share my thoughts and experiences through this blog. Here,
      I'll be posting about my journey learning Astro, web development tips and tricks,
      and other interesting topics in the world of technology. Stay tuned for regular
      updates and feel free to engage with the content through comments and discussions!
    </p>
  </body>
</html>
